html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    height: 100%;
}

body {
    overflow-y:hidden;
}

#container {
    min-height: 100%;
    position: relative;
}

h1 {
    font-size: 24px;
    font-style: bold;
    padding: 15px 0px 5px;
}

#hlogo {
    height: 170px;
    position: relative;
    text-align: center;
}

#hlogo .logo_img {
    height: 80%;
    margin: 0 auto;
    padding-top: 5px;
}

#hlogo .logo_text {
    color: #50C878;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

nav {
    background-color: #50C878;
    list-style: none;
    text-align: center;
}

nav ul {
    font-size: 0;
}

nav li {
    font-size: 18px;
    display: inline;
}

nav a {
    color: #FFFFFF;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #32B45E; 
}

#content {
    padding-bottom: 100px;
}

#content div {
}

#content a {
    color: #637067;
    text-decoration: none;
}

#content a:hover {
    border-bottom: 2px solid #637067;
    text-decoration: underline;
}

#textcontent {
    margin: 0 auto;
    width: 600px;

}

#pictures {
    padding: 10px 0px;
    width: 100%;
}

#imgblock {
    display: block;
    margin: 0 auto;
    width: 500px;
}

#imgblock img {
    padding: 5px;
    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
}

#gallery {
    height: 500px;
    width: 100%;
    background-color: #1E2320;
}

#gallery img {
    display: block;
    padding: 20px;
    height: 460px;
    margin: 0 auto;
}

footer {
    background-color: #4D5D52;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 80px;
}

#smedia a {
    padding: 0px 10px;
    color: #FFFFFF;
    text-decoration: none;
}

footer p {
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 0px;
}